services:
  opensearch:
    image: opensearchproject/opensearch:2.6.0
    container_name: opensearch
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m
      - DISABLE_SECURITY_PLUGIN=true
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    networks:
      - opensearch-net

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:2.6.0
    container_name: opensearch-dashboards
    ports:
      - "5601:5601"
    environment:
      - OPENSEARCH_HOSTS=["http://opensearch:9200"]
      - DISABLE_SECURITY_DASHBOARDS_PLUGIN=true
      - I18N_LOCALE=en
    depends_on:
      - opensearch
    networks:
      - opensearch-net

  search-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: search-app
    volumes:
      - .:/app
    command: python main.py
    ports:
      - "8000:8000"
    depends_on:
      - opensearch
    env_file:
      - .env
    networks:
      - opensearch-net

networks:
  opensearch-net:

volumes:
  opensearch-data: